<header>
  <img src="favicon.ico" alt="Angular img">
  <h1> Angular 4!  {{'HEADER.title' | translate}} </h1>
  <app-switch-language style="margin-left: 10px"></app-switch-language>
  <a mat-raised-button
     color='primary'
     routerLink="/auth/logout"
     style="margin-left: 20px"
  >{{'HEADER.btn' | translate}}</a>
</header>
<!-- Пример/eg:

<div>1 {{'HELLO' | translate}}</div>
<div [translate]="'HELLO'" >2</div>
<div translate >HELLO</div>

-->
<router-outlet></router-outlet>

<footer>
  <a href="https://github.com/SnisarOnline">author: IgorSnisar</a> <br>
</footer>
